#form-container {
  width: 80%;
  margin: 10px auto;
  padding-top: 10px;
}

input,
textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 12px 20px;
  margin: 10px;
  font-size: 1.5em;
  border-radius: 5px;
}

textarea {
  resize: none;
}

label {
  padding: 10px;
}

input[type="submit"] {
  background-color: #7abfaa;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #88ccb6;
}
